.userInfoWrapper {
  padding: 10px 15px;
  font-size: 1.2em;
}

.userGeneralInfo {
  display: flex;
  flex-direction: column;
  background: #1f2a48;
  border-radius: 10px;
  padding: 15px 20px;
  gap: 30px;
}

.userGeneralInfo > .userParticularInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.userGeneralInfo > .userParticularInfo > .userDescription {
  line-height: 25px;
  text-align: left;
}

.userGeneralInfo > .userParticularInfo > .userDescription > p {
  width: 100%;
}

.userParticularInfo > .userPersonalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.userParticularInfo > .userPersonalInfo > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userParticularInfo > .userPersonalInfo > .userNameInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.userParticularInfo > .userPersonalInfo > .userNameInfo > .userHandle {
  color: #2276e7;
}

.userGeneralInfo > .userSocials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userLocation,
.userBlog,
.userTwitter,
.userOrg {
  display: inherit;
  align-items: center;
  gap: 5px;
}

@media screen and (min-width: 430px) {
  .userInfoWrapper {
    padding: 10px 40px;
  }
}

@media screen and (min-width: 568px) {
  .userParticularInfo > .userPersonalInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .userDescription {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .userInfoWrapper {
    padding: 10px 150px;
  }

  .userParticularInfo > .userPersonalInfo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  .userDescriptionUno {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .userParticularInfo > .userPersonalInfo > img {
    align-self: flex-start;
  }

  .userInfoWrapper {
    padding: 10px 200px;
  }

  .userParticularInfo > .userPersonalInfo {
    padding: 10px 0;
  }

  .userJoinDate {
    align-self: flex-end;
  }

  .userPersonalInfoText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .userPersonalInfoTextName {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .userDescriptionUno {
    display: none;
  }

  .userDescription {
    display: block;
  }

  .userGeneralInfo > .userSocials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .userLocation,
  .userBlog,
  .userTwitter,
  .userOrg {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .userInfoWrapper {
    padding: 10px 350px;
  }

  .userGeneralInfo > .userSocials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
  }

  .userLocation,
  .userBlog,
  .userTwitter,
  .userOrg {
    display: flex;
    padding: 10px 0;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (min-width: 1400px) {
  .userInfoWrapper {
    padding: 10px 500px;
  }
}
