.titleBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.titleBar > h1 {
  font-size: 1.9em;
}

.themeSwitch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.themeSwitch > p {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

.themeSwitch > button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

@media screen and (min-width: 430px) {
  .titleBar {
    padding: 10px 40px;
  }
}

@media screen and (min-width: 768px) {
  .titleBar {
    padding: 10px 150px !important;
  }
}
